{% extends 'base.html'%}
{% load static %}



{% block content %}

        <div class="search container w-96 mt-8 mx-[610px] min-[320px]:w-96 max-[990px]:mx-0">
            <form method="get">
            <div class="custom-search-input">
                <div class="input-group">
                <input type="text" class="text-white form-control shadow-none bg-black border-teal-800 border-2 hover:border-white hover:shadow-none" placeholder="Buscar..." name="buscar" value="{{ request.GET.buscar }}">
                <span class="input-group-list">
                    <i class="icon icon-search"></i>
                    <button type="submit" class="btn bg-teal-800 text-white text-md p-2 font-semibold" id="buscar">Buscar</button>
                </span>
                </div>
            </div>
            </form>
        </div>

<div class="container p-10 flex flex-wrap-reverse">

    {% if adopciones %}

        {% for adopciones in adopciones %}

        <div class="card ml-14 mb-10" style="width: 18rem;">
            <img src="{{adopciones.foto.url}}" class="card-img-top">
            <div class="card-body bg-black text-white rounded-md">
              <h5 class="card-title text-2xl"><strong>{{adopciones.nombre}}</strong></h5>
              <p class="card-text"><strong>Especie:</strong> {{adopciones.especie}}</p>
              <p class="card-text"><strong>Raza:</strong> {{adopciones.raza}}</p>
              <p class="card-text"><strong>Edad:</strong> {{adopciones.edad}}</p>
              <p class="card-text"><strong>Sexo:</strong> {{adopciones.sexo}}</p>
              {% if adopciones.castrado == True %}
              <p class="card-text"><strong>Castrad@:</strong> Si</p>
              {% else%}
              <p class="card-text"><strong>Castrad@:</strong> No</p>
              {% endif %}
              <p class="card-text"><strong>Descripcion:</strong> {{adopciones.descripcion}}</p>
              <a href="/archivo/"><button type="button" class="btn bg-teal-700 text-white mt-2">¡¡¡ Quiero Adoptar !!!</button></a>
            </div>
        </div>

        {% endfor %}

    {% else %}

    <div class="block p-4 mx-auto">
        <h4 class="text-white text-4xl mx-auto">No hay Adopciones Registradas</h4>
    </div>

    {% endif %}

</div>

{% endblock %}